<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<img src="http://www.fillmurray.com/800/800">
		</div>

		<div class="col-sm-8 detail-informations">
			<h2>Pokemon name</h2>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus felis justo, volutpat vitae sapien vitae, viverra malesuada dui. In sed vehicula eros, egestas placerat justo. Mauris porttitor et lorem ut lacinia. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris accumsan sollicitudin mauris. Donec dignissim, massa quis sodales mollis, eros purus efficitur felis, nec laoreet ligula libero non libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus euismod molestie lorem ut auctor. Nullam urna massa, consequat nec eros viverra, fringilla interdum enim. In efficitur elit ac lectus pellentesque, id consectetur eros fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin metus magna, blandit a lacus non, ultrices blandit dolor. Suspendisse egestas libero sed felis pellentesque, in venenatis velit interdum.
			</p>

			<h3>Atributos</h3>

			<ul class="row">
				<li class="col-sm-4">
					<strong>Base experience:</strong> Lorem ipum
				</li>

				<li class="col-sm-4">
					<strong>Base experience:</strong> Lorem ipum
				</li>

				<li class="col-sm-4">
					<strong>Base experience:</strong> Lorem ipum
				</li>

				<li class="col-sm-4">
					<strong>Base experience:</strong> Lorem ipum
				</li>

				<li class="col-sm-4">
					<strong>Base experience:</strong> Lorem ipum
				</li>

				<li class="col-sm-4">
					<strong>Base experience:</strong> Lorem ipum
				</li>
			</ul>
		</div>
	</div>

	<div class="row detail-footer">
		<div class="col-sm-12">
			<button type="button" class="btn btn-danger" routerLink="/">VOLTAR PARA TODOS</button>
		</div>
	</div>
</div>