<div class="container">
	<div class="row" *ngIf="pokemon">
		<div class="col-sm-4">
			<div class="detail-thumbnail">
				<img [src]="pokemon.sprites.front_default">
			</div>
		</div>

		<div class="col-sm-8 detail-informations">
			<h2>{{pokemon.name}}</h2>

			<ng-template [ngIf]="pokemon.types">
				<p>
					Types are properties for Pokémon and their moves. Each type has three properties: which types of Pokémon it is super effective against, which types of Pokémon it is not very effective against, and which types of Pokémon it is completely ineffective against.
				</p>

				<h3>Types</h3>

				<ul class="row">
					<li class="col-sm-4" *ngFor="let item of pokemon.types">
						<strong>Type:</strong> {{item.type.name}}
					</li>
				</ul>
			</ng-template>
		</div>
	</div>

	<div class="row detail-footer">
		<div class="col-sm-12">
			<button type="button" class="btn btn-danger" routerLink="/">VOLTAR PARA TODOS</button>
		</div>
	</div>
</div>